{% extends 'base.html' %}
{% load static %}
{% block content %}


<style>
    body{
        background-color: rgb(130, 144, 199);
        
    }


    .tablediv{
        margin-left: 1vh;
        margin-right: 1vh;
        margin-top: 1vh;
    }

    h4{
        text-align: left; 
        margin-top:2vh; 
        margin-bottom: 2vh;
        margin-left: 1vh;
    }
    td,tr,th,table{
        border:2px 2px 2px 2px black;
    }

    ::-webkit-scrollbar{
        display: none
    }

    @media(min-width:768px){
        .history-div{
        background: linear-gradient(#3d4465 0, #3d4465 116px, white 0px, white 100px);
    }
    .body-wrapper{
        margin-left:18%
    }
    
    }

    @media(max-width:768px){
        .history-div{
        background: linear-gradient(#3d4465 0, #3d4465 189px, white 0px, white 100px);
    }
    }

    .button-hover{
        background-color: white;
        color: #3d4465;
    }
    .button-hover:hover{
        background-color:#4d5fbc ;
        color: white;
    }
    
</style>
<br><br><br>
<body>
    <div class="body-wrapper ">
        <br><br>
           <div class="p-3 text-center " style="display: flex;justify-content: center; ">
            <div class="card col-md-9 history-div" style="background-color: white;width:50rem; ">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="mb-3 mt-3 text-white">Transaction History</h3> 
                        {% comment %} <h4 class="fs-3" style="color:white ; font-weight:bold;text-align:center;margin-top:5%;">Transaction History</h4> {% endcomment %}
                    </div>
                    <div class="col-6"></div>
                    <div class="col my-3">
                        <a href="javascript:window.history.back();" class="btn button-hover" ><i class="fa fa-arrow-left"></i> Back</a>
                    </div>
                </div>
                <div class="tablediv table-responsive" style="height: 28rem;  ">
                    <table class="table  " id="billtable"  style="text-align: center;  ">
                        <thead style="background-color:rgb(61, 68, 101); ">
                            <tr style="width:35%; ">
                                <th class=" text-white" style="background-color: #3d4465; "     >
                                    # 
                                </th>
                                <th class=" text-white" style="background-color: #3d4465;">
                                    DATE 
                                </th>
                                <th class=" text-white" style="background-color: #3d4465;">
                                    BILL NUMBER 
                                </th>
                                <th class="text-white" style="background-color: #3d4465;" >
                                    NAME 
                                </th>
                                <th class=" text-white" style="background-color: #3d4465;">
                                    AMOUNT
                                </th>
                                <th class="text-white" style="background-color: #3d4465;">
                                    BY
                                </th>
                                <th class=" text-white" style="background-color: #3d4465;">
                                    ACTION
                                </th>
                            </tr>
                        </thead>
                        <tbody class="table-bordered">
                            {% for h in hsty %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td style="color: black;">{{ h.transactiondate | date:'d-m-Y' }}</td>
                            <td style="color: black;">{{ h.debitnote.billno }}</td>
                            <td style="color: black;">{{ h.debitnote.party.party_name }}</td>
                            <td style="color: black;">{{ h.debitnote.grandtotal }}</td>
                            <td style="color: black;">
                                {% if h.staff %}
                                    {{ h.staff.first_name }} {{ h.staff.last_name }}
                                {% else %}
                                    {{ h.debitnote.company.company_name }}
                                {% endif %}
                            </td>
                            {% if h.action == 'Created' %}
                            <td style="color: red;" >{{h.action}}</td>
                        {% else %}
                            <td style="color: #154c79;" >{{h.action}}</td>
                        {% endif %}
                           
                        </tr>
                        {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </body>


{% endblock  %}
