<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css" rel="stylesheet" />

<table class="table table-bordered table-hover mt-3" id="tab_logic1">
    <thead>
        <tr style="color: white; background-color:rgb(61, 68, 101);">
            <th class="text-center " style="background-color:rgb(61, 68, 101);color: white;">#</th>
            <th class="text-center" style="background-color:rgb(61, 68, 101);color: white;">PRODUCT</th>
            <th class="text-center" style="background-color:rgb(61, 68, 101);color: white;">HSN</th>
            <th class="text-center"style="background-color:rgb(61, 68, 101);color: white;" required>QTY</th>
            <th class="text-center" style="background-color:rgb(61, 68, 101);color: white;">PRICE</th>
            <th class="text-center" style="background-color:rgb(61, 68, 101);color: white;">TAX (%)</th>
            <th class="text-center" style="background-color:rgb(61, 68, 101);color: white;">DISCOUNT</th>
            <th class="text-center" style="background-color:rgb(61, 68, 101);color: white;">TOTAL</th>
            <th class="text-center" style="background-color:rgb(61, 68, 101);color: white;">FIELD</th>
        </tr>
    </thead>
    <tbody id="items-table-body1">
    {% for j in items %}
    
        <tr id='addrr0{{ forloop.counter }}' data-rowno="{{ forloop.counter }}">
           
            <td class="nnum" style="text-align: center; color: black;">1</td>
            {% comment %} <td >
                <div class="d-flex">
                    <select name='product[]' id="product{{ j.id }}" class="form-control border-secondary product1 select2 itemselect"  onchange="changeprd11(this,`{{j.id}}`)" style="color: black; background-color: white;">
                        <option value="" selected hidden>Select</option>
                        {% for i in item %}
                            {% if i.cid_id == cmp.cid %}
                                <option value="{{ i.id }}" >{{ i.item_name  }} </option>
                            {% endif %}
                        {% endfor %}
                    </select> &nbsp;&nbsp;&nbsp;
                <button id="modal_closing" type="button" style="background-color:rgb(61, 68, 101);" class="btn" data-bs-toggle="modal" data-bs-target="#newitem" data-bs-whatever="@mdo">
                    <span class="fa fa-plus"></span>
                </button>
                </div>
            </td> {% endcomment %}
            <td style="width:18%" >
                <div class="d-flex">
                    <select name='product[]' id="product{{ j.id }}" class="form-control  product1 select2 itemselect"  onchange="changeprd11(this,`{{j.id}}`)" style="color: black; background-color: white; ">
                        <option value="{{ j.item.id }}" selected >{{ j.item.itm_name }}</option>
                        <option  disabled>Select Item</option>
                         {% for item in items %}
                            {% if i.cid_id == cmp.cid %}
                                <option style="border-color: #FFADB0;" value="{{ item.id }}" >{{ item.itm_name  }} </option>
                            {% endif %}
                        {% endfor %}
                    </select> &nbsp;&nbsp;&nbsp;
                    <button id="modal_closing" type="button" style="background-color:rgb(61, 68, 101);" class="btn" data-bs-toggle="modal" data-bs-target="#newitem" data-bs-whatever="@mdo">
                        <span class="fa fa-plus"></span>
                    </button>
                    
                    
                </div>
            </td>

            <td style="width:15%">
                <input type="text" name='hsn[]'  value="{{ j.hsn }}" id="hsn{{ j.id }}" class="form-control button_border" style="color: black; background-color: white;"/>
            </td>

            <td style="width: 13%;">
                <input type="number" name='qty[]' value="{{ j.quantity }}"  placeholder='Enter Qty' id="qty{{ j.id }}" value=0 class="form-control qty mb-1 button_border " step=0 min=0 style="color: black; background-color: white;" />
            </td>

            <td style="width:12%">
                <input type="number" name='price[]' value="{{ j.rate }}" id="unit{{ j.id }}"class="form-control button_border price" step="0.00" min="0" style="color: black; background-color: white;" />
            </td>
            <td >
                <input type="text" id="intrataxval1{{ j.id }}" hidden>
                <input type="text" id="intertaxval1{{ j.id }}" hidden>
                <input type="text" name='tax[]' id="tax1{{ j.id }}" value="{{ j.tax }}" class="form-control border-secondary tax" style="color: black; background-color: white;" placeholder="GST"  readonly />
            </td>
            {% comment %} <td style="width:12%">
                <input type="text" name='vat[]' id="Vat{{ j.id }}" value="{{ j.tax }}" class="form-control button_border seltax"  step="0.00" min="0" style="color: black; background-color: white;"  readonly />
            </td> {% endcomment %}
            
            </td>

            <td style="width:10%">
                <input type="number" name='discount[]' placeholder='Enter Discount' id="disc{{j.id}}" value="{{j.discount|default:0}}" class="form-control disc button_border" step=0 min=0 style="color: black; background-color: white;">
            </td>

            <td style="width:13%">
                <input type="number" name='total[]' value="{{ j.totalamount }}" id="total{{ j.id }}" placeholder=0 class="form-control total button_border" value=0 step="any" readonly style="color: black; background-color: white;" />
            </td>

            <td style="display: none;">
                <input type="number" step="any" name='taxamount1' id="taxamount{{ j.id }}" class="form-control taxamount" />
            </td>
            <td >
                                                               
                <button type="button" id="{{forloop.counter}}" class="btn btn-danger remove_row1 px-2 py-1 mx-1 fa fa-close" title="Remove Row"> </button>
            </td>

            {% comment %} <td style="width:5%">

                <button type="button" id="{{forloop.counter}}" class="btn button_border remove_row1 px-2 py-1 mx-1 fa fa-close" title="Remove Row"> </button>
            </td> {% endcomment %}
        </tr>
    {% endfor %}
    </tbody>
    <tr>
        <td style="border: none;"><a class="btn  ml-1" role="button" style="background-color:rgb(61, 68, 101);color: white;" id="add1" ><span class="fa fa-plus"></span></a></td>
    </tr>
    
</table>
{% comment %} <a class="btn button_border ml-1" role="button" id="add1" >+</a> {% endcomment %}
<div class="clearfix" style="margin-top:10px;" id="cal1">
    <div class="row" style="margin-left: 2vh;" >
        <div class="col-md-7 table-responsive mt-3 " id="tab_logic_total" style=" color: black; border: 1px solid rgba(61, 68, 101); margin-left: -2vh; background-color: rgba(61, 68, 101); ">
            <div class="p-3">
                <div class="row container-fluid p-2 m-0">
                    <div class="col-sm-4 mt-2"><label class="text-center" style="color:white;">Sub Total</label></div>
                    <div class="col-sm-1 mt-2">:</div>
                    <div class="col-sm-7">
                        <input type="number" step="any" name='subtotal' value=0.00 readonly style="color: black; background-color: white;" class="form-control border-secondary" id="sub_total">
                    </div>
                    <div class="col-sm-4 m-0 p-0"></div>
                </div>

                <div class="row container-fluid p-2 m-0" id="igstdiv">
                    <div class="col-sm-4 mt-2"><label for="a" style="color:white;" class="text-center">IGST</label></div>
                    <div class="col-sm-1 mt-2">:</div>
                    <div class="col-sm-7">
                        <input type="number" name='igst' step="any" id="igst" value=0.00 readonly style="color: black; background-color: white;" class="form-control border-secondary"/>
                    </div>
                    <div class="col-sm-4 m-0 p-0"></div>
                </div>
            
                <div class="row container-fluid p-2 m-0" style="display: none;" id="cgstdiv">
                    <div class="col-sm-4 mt-2"><label for="a" style="color:white;" class="text-center">CGST</label></div>
                    <div class="col-sm-1 mt-2">:</div>
                    <div class="col-sm-7">
                        <input type="number" name='cgst' step="any" id="cgst" value=0.00 readonly style="color: black; background-color: white;" class="form-control border-secondary"/>
                    </div>
                    <div class="col-sm-4 m-0 p-0"></div>
                </div>

                <div class="row container-fluid p-2 m-0" style="display: none;" id="sgstdiv">
                    <div class="col-sm-4 mt-2"><label for="a" style="color:white;" class="text-center">SGST</label></div>
                    <div class="col-sm-1 mt-2">:</div>
                    <div class="col-sm-7">
                    <input type="number" name='sgst' step="any" id="sgst" value=0.00 readonly style="color: black; background-color: white;" class="form-control border-secondary"/>
                    </div>
                    <div class="col-sm-4 m-0 p-0"></div>
                </div>

                <div class="row container-fluid p-2 m-0">
                    <div class="col-sm-4 mt-2"><label for="a" style="color:white;" class="text-center">Tax Amount</label></div>
                    <div class="col-sm-1 mt-2">:</div>
                    <div class="col-sm-7">
                    <input type="number" step="any" name='taxamount' id="tax_amount" value=0.00 readonly style="color: black; background-color: white;" class="form-control border-secondary"/>
                    </div>
                    <div class="col-sm-4 m-0 p-0"></div>
                </div>

                <div class="row container-fluid p-2 m-0">
                    <div class="col-sm-4 mt-2"><label for="a" style="color:white;" class="text-center">Adjustment</label></div>
                    <div class="col-sm-1 mt-2">:</div>
                    <div class="col-sm-7">
                    <input type="number" step="any" name='adj' id="adj" value=0.00 class="form-control border-secondary" style="color: black; background-color: white;"/>
                    </div>
                    <div class="col-sm-4 m-0 p-0"></div>
                </div>
                
                <div class="row container-fluid p-2 m-0">
                    <div class="col-sm-4 mt-2"><label for="a" style="color:white;" class="text-center">Grand Total</label></div>
                    <div class="col-sm-1 mt-2">:</div>
                    <div class="col-sm-7">
                    <input type="number" name='grandtotal' id="grandtotal" value=0.00 readonly style="color: black; background-color: white;" class="form-control border-secondary"/>
                    </div>
                    <div class="col-sm-4 m-0 p-0"></div>
                </div>
                <div class="row container-fluid p-2 m-0">
                    <div class="col-sm-4 mt-2"><label for="a" style="color:white;" class="text-center">Description</label></div>
                    <div class="col-sm-1 mt-2">:</div>
                    <div class="col-sm-7">
                    <input type="text" name='des' id="des" style="color: black; background-color: white;" class="form-control"/>
                    </div>
                    <div class="col-sm-4 m-0 p-0"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 mt-4"></div>
        <div class="col-md-5 mt-3 d-flex" style="margin-left:5vh">
            <input type="submit" class="btn me-3" style="background-color:rgb(61, 68, 101);" name="Next" value="SAVE & NEXT"></input> 
            <input type="submit" class="btn " style="background-color:rgb(61, 68, 101);" name="Save" value="SAVE"></input>
        </div>
    </div>


</div>

<script>
        $(document).ready(function(){
        $("#product").select2();
        $(".itemselect").each(function(){
            var id =$(this).attr('id');
            $("#"+id).select2();
        })

    })
    

    
            reloadItem1();

    
    $('#add1').click(function(){
            var lastRowId = $('#items-table-body1  tr:last').data('rowno');
            console.log(lastRowId)
          

            // Increment the numeric part by one
           
            var roinc=lastRowId;
            // var roinc = $("#items-table-body tr").length;
            
            
            roinc++
            
            $('#items-table-body1').append(
                `<tr id='addrr0${roinc}' data-rowno=${roinc}>
                    <td class = 'nnum' style="text-align: center; width:2%"">${roinc}</td>
                    <td style="width:18%">
                        <div class="d-flex">
                            <select name='product[]' id="product${roinc}" data-rowno=${roinc} class="form-control button_border product1 select2 itemselect3${roinc}"  onchange="changeprd12(${roinc})" style="color: black; background-color: white;">
                                <option value="" selected hidden>Select Product</option>
                                {% for i in item %}
                                    {% if i.cid_id == cmp.cid %}
                                        <option value="{{ i.id }}" >{{ i.itm_name  }} </option>
                                    {% endif %}
                                {% endfor %}
                            </select>&nbsp;&nbsp;&nbsp;
                            <button id="modal_closing" type="button" style="background-color:rgb(61, 68, 101);" class="btn" data-bs-toggle="modal" data-bs-target="#newitem" data-bs-whatever="@mdo">
                                <span class="fa fa-plus"></span>
                            </button>
                        </div>
                    </td>

                    <td style="width:14%">
                        <input type="text"  name='id[]' style="color:black;" value="0" hidden>
                        <input type="text" name='hsn[]'  value="" id="hsn${roinc}" class="form-control " style="color: black; background-color: white;" readonly />
                    </td>

                    <td style="width: 10%;">
                        <input type="number" name='qty[]' placeholder='Enter Qty' id="qty${roinc}" value=0 class="form-control qty mb-1 " step=0 min=0 style="color: black; background-color: white;" />
                    </td>

                    <td style="width:12%">
                        <input type="number" name='price[]' value="0" id="unit${roinc}"class="form-control  price" step="0.00" min="0" style="color: black; background-color: white;" readonly />
                    </td>

                    <td style="width: 15%;">
                        <input type="text" id="intrataxval${roinc}" value="" hidden>
                        <input type="text" id="intertaxval${roinc}" value="" hidden>
                        {% if crd.state_of_supply  == 'State'  %}
                            <input type="text" name='tax[]' id="tax${roinc}" class="form-control  tax" style="color: black; background-color: white;" value=""  readonly />
                        {% else %}
                            <input type="text" name='tax[]' id="tax${roinc}" class="form-control  tax" style="color: black; background-color: white;" value="" readonly   />
                        {% endif %}
                    </td>  

                    <td style="width:10%">
                        <input type="number" name='discount[]' placeholder='Enter Discount' id="disc${roinc}" value="0" class="form-control disc " step=0 min=0 style="color: black; background-color: white;">
                    </td>

                    <td style="width:13%">
                        <input type="number" name='total[]' value="0" id="total${roinc}" placeholder=0 class="form-control total " value=0 step="any" readonly style="color: black; background-color: white;" />
                    </td>
                    <td style="display: none;">
                        <input type="hidden" step="any" id="taxamount${roinc}" class="form-control taxamount" />
                    </td>
                    
                    <td style="width:5%">
                        <button type="button" id="${roinc}" class="btn btn-danger remove_row1 px-2 py-1 mx-1 fa fa-close" title="Remove Row"> </button>
                    </td>
                </tr>`
            );
            $(`.itemselect3${roinc}`).select2()
            reloadItem1();
            $('#tab_logic1').on('change', '.qty, .hsn', function() {
            validateRows1();
            });
            function validateRows1() {
                var isValid = true;
            
                return isValid;
            }

            var table = document.getElementById('tab_logic1');
            var rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');
                for (var i = 0; i < rows.length; i++) {
                    var cells = rows[i].getElementsByTagName('td');
                    cells[0].innerText = i + 1;
                    
                }
           
               
        
            });

            $(document).on('change', '.product1',function(){ 
                var n = $(this).data("rowno");
                console.log(n,'jhgjhg')
                var selectedItems = [];
                if (selectedItems.includes(value)) {
                    alert('This item has already been selected in another row.');
                    var $select = $(document.getElementById('product' + n));
                    //var selectize = $select[0].selectize;
                    //selectize.clear();  // Clear the selected option
                    return;
                }
                $.ajax({
                    url: "{% url 'itemdetails' %}",
                    type : 'GET',
                    data:{
                        id : $(this).val(),
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                    
                    success: function(response) {
                        selectedItems.push(value);

                var bc = document.getElementById("psu").value;
                if (bc == 'State') {
                    document.getElementById('intrataxval' + n).value = response.gst;
                    document.getElementById('intertaxval' + n).value = response.igst;
                    document.getElementById('hsn' + n).value = response.hsn;
                    document.getElementById('unit' + n).value = response.price;
                    document.getElementById('tax' + n).value = response.gst;
                    calc1();
                } else if (bc == 'Other State') {
                    document.getElementById('intrataxval' + n).value = response.gst;
                    document.getElementById('intertaxval' + n).value = response.igst;
                    document.getElementById('hsn' + n).value = response.hsn;
                    document.getElementById('unit' + n).value = response.price;
                    document.getElementById('tax' + n).value = response.igst;
                    calc1();
                } else {
                    alert('Please Select Place of Supply');
                    //var $select = $(document.getElementById('product' + n));
                    //var selectize = $select[0].selectize;
                    //selectize.setValue("");
                }
                        
        
                        
                        
                },
                    
                });
                calc1();
            });
            function reloadItem1() {
        $.ajax({
            url: "{% url 'item_dropdown' %}",
            type: "GET",
            dataType: "json",
            data: $(this).serialize(), 
            csrfmiddlewaretoken: '{{ csrf_token }}',

            success: function(data) {
                $('#tab_logic1 tbody tr').each(function(){
                    var row = $(this);
                    var drop = row.find('.product1');
                    var existingVal = drop.val();
                    drop.empty();
                    console.log(row,'sdsg')
                    // dropdown.append(`<option ${selectedValue} selected hidden>${selectedText}</option>`);
                    var defaultOption = new Option("Select Item", "", true, true);
        defaultOption.disabled = true;
        drop.append(defaultOption);
                    $.each(data, function(key, value) {
                        // dropdown.append($('<option></option>').attr('value', key).text(value).val(key));
                        console.log(value);
                        var newOption = new Option(value[1], value[0], false, false);
                        console.log('appended',value[0]);
                        drop.append(newOption);
                        console.log('done...');
                    });

                    if(existingVal != ""){
                        drop.val(existingVal);
                    }
                })
                
            },
            error: function(xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    }
        
        
            $(document).on('click','.remove_row1',function(){
                var row_id = $(this).attr("id");
                // $('#addr0'+row_id+'').css('display','none');
                $('#addrr0'+row_id+'').remove();
                var table = document.getElementById('tab_logic1');
                var rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');
                for (var i = 0; i < rows.length; i++) {
                    var cells = rows[i].getElementsByTagName('td');
                    cells[0].innerText = i + 1;
                    
                }
                calc1();
            });
           
        
            $(document).ready(function(){
                $('#items-table-body1').on('keyup change', function () {
                    calc1();
                });
        
                
            });

            function calc1() {
                $('#tab_logic1 tbody tr').each(function () {
                    var html = $(this).html();
                    if (html != '') {
                        var qty = $(this).find('.qty').val();
                        var price = $(this).find('.price').val();
                        var dis = $(this).find('.disc').val();
                        var bc = $("#psu").val();
                        var taxval = $(this).find('.tax').val().slice(bc == 'State' ? 3 : 4);
                        var tax = parseInt(taxval.match(/\d+/)[0], 10);
                        $(this).find('.total').val((parseFloat(qty) * parseFloat(price)) - parseFloat(dis));
                        $(this).find('.taxamount').val(((qty * price) - dis) * (tax / 100));
                        calc_total();
                    }
                });
            }
            
            function calc_total() {
                var total = 0;
                $('.total').each(function () {
                    total += parseFloat($(this).val());
                });
                var taxamount = 0;
                $('.taxamount').each(function () {
                    taxamount += parseFloat($(this).val());
                });
                $('#sub_total').val(total.toFixed(2));
                $('#tax_amount').val(taxamount.toFixed(2));
                var adj_val = parseFloat($('#adj').val());
                var gtot = taxamount + total + adj_val;
                $('#grandtotal').val(gtot.toFixed(2));
                $('#baldue').val(gtot.toFixed(2));
                var adv_val = parseFloat($('#advance').val());
                adv_val = gtot - adv_val;
                $('#balance').val(adv_val.toFixed(2));
                taxfun();
            }
            
            function taxfun() {
                var bc = $("#psu").val();
                var d = 0;
                if (bc == 'State') {
                    console.log(bc,'gvdhsg')
                    var gst = taxamount / 2;
                    $('#cgst').val(parseFloat(gst.toFixed(2)));
                    $('#sgst').val(parseFloat(gst.toFixed(2)));
                    $('#igst').val(parseFloat(d.toFixed(2)));
                } else {
                    $('#igst').val(taxamount.toFixed(2));
                    $('#cgst').val(d.toFixed(2));
                    $('#sgst').val(d.toFixed(2));
                }
            }
            
            $(document).on("change", "#adj", function () {
                var subtot = $('#sub_total').val();
                var tax = $('#tax_amount').val();
                var adj = $("#adj").val();
                var adv = $("#advance").val();
                $('#grandtotal').val((parseFloat(subtot) + parseFloat(tax) + parseFloat(adj)).toFixed(2));
                $('#balance').val((parseFloat(subtot) + parseFloat(tax) + parseFloat(adj) - parseFloat(adv)).toFixed(2));
            });
            

            
</script>
<script>

    function changeprd11(a, b) {
        var selectedvalue = a.value;
        console.log(selectedvalue, 'hihi');
        
        // Add an alert message
        alert('Are you ready to change invoice item!');
    
        $.ajax({
            url: "{% url 'itemdetails' %}",
            type: 'GET',
            data: {
                id: selectedvalue,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                data = response.hsn;
                data3 = response.price;
                data4 = response.tax;
                data5 = response.qty;
                console.log(data5);
    
                document.getElementById(`hsn${b}`).value = data;
                document.getElementById(`unit${b}`).value = data3;
                document.getElementById(`qty${b}`).value = data5;
                //document.getElementById(`psu${b}`).value= data6;
    
                var bc = document.getElementById("psu").value;
                console.log(bc,'jsdvhgfv')
                if (bc == 'State') {
                    document.getElementById(`intrataxval${b}`).value = data4;
                    document.getElementById(`intertaxval${b}`).value = data4;
                    document.getElementById(`tax${b}`).value = data4;
                    calc1();
                } else if (bc == 'Other State') {
                    document.getElementById(`intertaxval${b}`).value = data4;
                    document.getElementById(`tax${b}`).value = data4;
                    calc1();
                } else {
                    alert('Please Select Place of Supply');
                }
    
                // Optionally, call calc1() here if it's dependent on the response data
            },
            // Optionally, add error handling here
        });
        calc1();
        // Optionally, call calc1() here if it's not dependent on the response data
    }
    
    </script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css" rel="stylesheet"  defer/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" defer></script>